@import "config";

/* HERO SECTION */

.hero {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
}

.hero-img {
  width: 50%;
  height: 100%;
  background: url(../img/hero.jpg) center no-repeat;
  background-size: cover;
}

.hero-content {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  h1,
  p,
  .show-more {
    margin: 0 15rem;
  }

  h1 {
    color: $black;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.15;
    margin-right: 10rem;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      background: url(../img/patterns/orange-square.svg) center no-repeat;
      background-size: cover;
      width: 20rem;
      height: 20rem;
      top: -6rem;
      left: -4rem;
      opacity: 0.1;
      z-index: -1;
    }

    span {
      color: $orange;
    }
  }

  p {
    font-size: 2.4rem;
    font-weight: 200;
    margin: 2.5rem 0 3rem 0;
    color: $lightgray;
    line-height: 1.75;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 20rem;
    height: 20rem;
    background: url(../img/patterns/black-pattern.svg) center no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.1;
  }
}
.show-more {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  font-weight: 300;
  @extend %center;
  text-align: center;
  color: $orange;
  border: 2px solid $orange;
  padding: 1rem 2rem;
  width: 50%;
  overflow: hidden;
  transition: $transition;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: $orange;
    z-index: -1;
    transition: $transition;
  }
  &:hover {
    color: #fff;
  }
  &:hover::before {
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: 150vh;

    h1 {
      text-align: center;
      padding: 0 1rem;
      font-size: 6.5rem;
    }
  }

  .hero-content {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      display: none;
    }

    h1,
    p,
    .show-more {
      margin: 0;
    }

    h1::before {
      display: none;
    }

    p {
      text-align: center;
      padding: 0 1rem;
      margin: 2.5rem 0 3rem 0;
      font-size: 2rem;
    }

    .show-more {
      width: 70%;
      font-size: 2rem;
    }
  }

  .hero-img {
    width: 100%;
    height: 60vh;
  }
}

// About office //

.about-office {
  height: 140vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  background: $verylightgray;

  > div {
    height: 50%;
    display: flex;
  }

  .about-img {
    width: 50%;
    background: url(../img/about1.jpg) center no-repeat;
    background-size: cover;
    z-index: 3;
  }

  .about-content {
    width: 50%;
    @extend %center;
    flex-direction: column;
    align-items: start;
    position: relative;
    z-index: 2;

    > * {
      margin-left: 15rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      right: -1rem;
      width: 45rem;
      height: 45rem;
      background: url(../img/patterns/black-square.svg) center no-repeat;
      transform: rotate(45deg);
      background-size: cover;
      opacity: 0.05;
      z-index: -1;
    }

    h3 {
      font-size: 5.5rem;
      margin-bottom: 2rem;

      span {
        color: $orange;
      }
    }

    p {
      font-size: 2.4rem;
      line-height: 1.75;
      color: $lightgray;
      font-weight: 200;
      padding-right: 15rem;
    }
  }

  .apps-content {
    width: 50%;
    @extend %center;
    align-items: start;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: 3.5rem;
      left: 3.5rem;
      width: 40rem;
      height: 40rem;
      background: url(../img/patterns/orange-square.svg) center no-repeat;
      transform: rotate(45deg);
      background-size: cover;
      opacity: 0.05;
      z-index: -1;
    }

    > * {
      margin: 0 15rem;
    }

    h3 {
      font-size: 5.5rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 2.4rem;
      line-height: 1.75;
      color: $lightgray;
      font-weight: 200;
    }
  }

  .apps-img {
    width: 50%;
    background: url(../img/about2.jpg) center no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  .about-office {
    height: 200vh;

    > div {
      flex-direction: column;
    }

    .about-1 {
      flex-direction: column-reverse;
    }

    .about-img {
      height: 50%;
      width: 100%;
    }
    .about-content {
      height: 50%;
      width: 100%;
      text-align: center;
      align-items: center;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      > * {
        margin-left: 0;
      }

      h3 {
        font-size: 4.5rem;
      }

      p {
        font-size: 2.2rem;
        padding-right: 0;
        padding: 0 2.5rem;
      }
    }

    .apps-content {
      width: 100%;
      height: 50%;
      align-items: center;
      text-align: center;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      > * {
        margin: 0;
      }

      h3 {
        font-size: 4.5rem;
      }

      p {
        font-size: 2.2rem;
        padding: 0 2.5rem;
      }
    }

    .apps-img {
      width: 100%;
      height: 50%;
    }
  }
}

// AVANTAJE //

.benefits {
  width: 100%;
  height: 90vh;
  @extend %center;
  text-align: center;
  flex-direction: column;

  h3 {
    font-size: 5.5rem;
    margin-bottom: 4.5rem;

    span {
      color: $orange;
    }
  }

  &-container {
    width: calc(100% - 30rem);
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;

    .card {
      width: 70%;
      height: 90%;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      @extend %center;
      flex-direction: column;
      position: relative;
      border-radius: .5rem;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: .35rem;
        top: 0;
        left: 0;
        background-color: $orange;
        border-radius: .5rem .5rem 0 0;
      }

      img {
        width: 8.5rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.8rem;
        padding: 0 3.5rem;
        font-weight: 400;
        color: $lightgray;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .benefits {
    height: 250vh;

    h3 {
      font-size: 4.5rem;
      padding: 0 1rem;
    }

    &-container {
      width: 90%;
      height: 80%;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      grid-template-rows: repeat(6, 1fr);

      .card {
        width: 60%;
        height: 100%;

        img {
          width: 6rem;
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 1.6rem;
          padding: 0 1.5rem;
        }
      }
    }
  }
}

// Top Tricks //

.top-tricks {
  width: 100%;
  height: 80vh;
  @extend %center;
  overflow: hidden;
  position: relative;
  z-index: 2;

  .swiper-button-next,
  .swiper-button-prev {
    color: $orange;
  }

  .swiper-container {
    width: calc(100% - 30rem);
    height: 70%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;

    .swiper-slide {
      display: flex;
      width: 100%;
      height: 100%;
      cursor: grab;

      &:first-of-type {
        @extend %center;
        position: relative;
        z-index: 2;
        background: url(../img/patterns/subtle_dots.png);

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(#fff, 0.5);
          z-index: -1;
        }

        h3 {
          font-size: 7.5rem;
          text-align: center;

          span {
            color: $orange;
          }
        }
      }

      .slide-img {
        width: 50%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }

        &1 {
          background: url(../img/top-tricks/tip1.png) center no-repeat;
          background-size: cover;
        }

        &2 {
          background: url(../img/top-tricks/tip2.png) center no-repeat;
          background-size: cover;
        }

        &3 {
          background: url(../img/top-tricks/tip3.png) center no-repeat;
          background-size: cover;
        }
        &4 {
          background: url(../img/top-tricks/tip44.png) center no-repeat;
          background-size: cover;
        }
        &5 {
          background: url(../img/top-tricks/tip5.png) center no-repeat;
          background-size: cover;
        }
        &6 {
          background: url(../img/top-tricks/tip6.png) center no-repeat;
          background-size: cover;
        }
      }

      .slide-content {
        width: 50%;
        height: 100%;
        @extend %center;
        align-items: start;
        flex-direction: column;
        position: relative;
        z-index: 2;
        background: url(../img/patterns/subtle_dots.png);

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(#fff, 0.7);
          z-index: -1;
        }

        > * {
          margin: 0 10rem 0 5rem;
        }

        h4 {
          font-size: 2.8rem;
          margin-bottom: 1.5rem;

          span {
            color: $orange;
          }
        }

        p {
          font-size: 1.8rem;
          color: $lightgray;
          font-weight: 200;
          line-height: 1.75;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .top-tricks {
    height: 90vh;

    .swiper-container {
      width: 90%;
      height: 90%;

      .swiper-slide {
        flex-direction: column;

        .slide-img {
          width: 100%;
          height: 40%;
        }

        .slide-content {
          width: 100%;
          height: 60%;

          > * {
            margin: 0 5rem;
          }

          h4 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1.6rem;
            line-height: 1.5;
          }
        }

        &:first-of-type {
          h3 {
            font-size: 5.5rem;
            padding: 0 5rem;

            span {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

// WORK //

.work{
  height: 60vh;
  width: 100%;
  display: flex;
  background: $verylightgray;

  > div{
    height: 100%;
    width: 50%;
  }

  &-img{
    background: url(../img/work.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(#fff, 0.5);
    }
  }

  &-content{
    @extend %center;
    justify-content: start;

    h3{
      font-size: 3.5rem;
      padding: 0 15rem 0 10rem;

      span{
        color: $orange;
      }
    }
  }
}

@media only screen and (max-width: 768px){
  .work{
    height: 100vh;
    flex-direction: column-reverse;

    > div{
      width: 100%;
      height: 50%;
    }

    &-content{

      h3{
        padding: 0 2.5rem;
        text-align: center;
        font-size: 2.5rem;
      }
    }
  }
}