@import "config";

/* HERO SECTION */

.hero {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
}

.hero-img {
  width: 55%;
  height: 100%;
  background: url(../img/hero.jpg) center no-repeat;
  background-size: cover;
}

.hero-content {
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  h1,
  p,
  .show-more {
    margin: 0 10rem;
  }

  h1 {
    color: $black;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.15;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      background: url(../img/orange-pattern.svg) center no-repeat;
      background-size: cover;
      width: 15rem;
      height: 15rem;
      top: -6rem;
      left: -4rem;
      opacity: 0.1;
      z-index: -1;
    }

    span {
      color: $orange;
    }
  }

  p {
    font-size: 2.4rem;
    font-weight: 200;
    margin: 2.5rem 0 3rem 0;
    color: $lightgray;
    padding: 0 10rem;
    line-height: 1.75;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -12%;
    right: -10%;
    width: 30rem;
    height: 30rem;
    background: url(../img/black-pattern.svg) center no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.1;
  }
}
.show-more {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  font-weight: 300;
  @extend %center;
  text-align: center;
  color: $orange;
  border: 2px solid $orange;
  padding: 1rem 2rem;
  width: 50%;
  overflow: hidden;
  transition: $transition;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: $orange;
    z-index: -1;
    transition: $transition;
  }
  &:hover {
    color: #fff;
  }
  &:hover::before {
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: 150vh;

    h1 {
      text-align: center;
      padding: 0 1rem;
      font-size: 6.5rem;
    }
  }

  .hero-content {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      display: none;
    }

    h1,
    p,
    .show-more {
      margin: 0;
    }

    h1::before {
      display: none;
    }

    p {
      text-align: center;
      padding: 0 1rem;
      margin: 2.5rem 0 3rem 0;
      font-size: 2rem;
    }

    .show-more {
      width: 70%;
      font-size: 2rem;
    }
  }

  .hero-img {
    width: 100%;
    height: 60vh;
  }
}

// About office //

.about-office {
  height: 60vh;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 2;
  overflow-x: hidden;

  > div {
    height: 100%;
  }

  .about-img {
    width: 45%;
    position: relative;
    z-index: 2;
    @extend %center;

    &::before {
      content: "";
      position: absolute;
      bottom: 0rem;
      right: -5%;
      width: 20rem;
      height: 20rem;
      background: url(../img/orange-pattern.svg) center no-repeat;
      background-size: cover;
      opacity: 0.07;
      z-index: -1;
    }

    img {
      width: 40%;
    }
  }

  .about-content {
    width: 55%;
    @extend %center;
    flex-direction: column;
    align-items: start;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      right: -1rem;
      width: 25rem;
      height: 25rem;
      background: url(../img/black-pattern.svg) center no-repeat;
      transform: rotate(45deg);
      background-size: cover;
      opacity: 0.05;
      z-index: -1;
    }

    h3 {
      font-size: 5rem;
      margin-bottom: 2rem;

      span {
        color: $orange;
      }
    }

    p {
      font-size: 2.4rem;
      line-height: 1.75;
      color: $lightgray;
      font-weight: 200;
      padding-right: 10rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-office {
    flex-direction: column;
    height: 80vh;

    .about-img {
      width: 100%;
      height: 45%;
      align-items: flex-end;

      &::before {
        display: none;
      }

      img {
        width: 40%;
      }
    }

    .about-content {
      width: 100%;
      height: 55%;
      text-align: center;
      align-items: center;

      &::before {
        display: none;
      }

      h3 {
        font-size: 4.5rem;
      }

      p {
        padding-right: 0;
        font-size: 2rem;
        padding: 0 2rem;
      }
    }
  }
}

// Apps //

.apps {
  height: 40vh;
  width: 100%;
  display: flex;

  &-content {
    width: 55%;
    @extend %center;
    align-items: start;
    flex-direction: column;

    > * {
      margin-left: 10rem;
    }

    h3 {
      font-size: 5rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 2.4rem;
      line-height: 1.75;
      color: $lightgray;
      font-weight: 200;
    }
  }

  &-icons {
    width: 45%;
    @extend %center;
    flex-direction: column;

    > div > img {
      margin: 0 2rem;
      width: 6.5rem;
    }
    .row1 {
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .apps {
    height: 60vh;
    flex-direction: column;

    &-icons {
      width: 100%;
      height: 50%;

      > div > img {
        margin: 0 2rem;
        width: 6rem;
      }

      .row2 {
        transform: translateX(0%);
      }
    }

    &-content {
      width: 100%;
      height: 50%;
      align-items: center;

      h3,
      p {
        text-align: center;
      }

      h3 {
        font-size: 4.5rem;
      }

      p {
        font-size: 2rem;
        padding: 0 2rem;
      }

      > * {
        margin-left: 0;
      }
    }
  }
}
